.Home {
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  background-color:rgb(195, 227, 238);
  padding-top: 40px;
  &__ctn {
    &-img {
      width: 60%;
      height: 50%;
      display: flex;
      margin: 0 auto 30px auto;
      padding-top: 40px;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &-smlLinks{
        width: 150px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 40px 20px 20px 20px;
        color: rgb(255, 255, 255);
        background-color: #1293d6;
        border-radius: 3px;
        text-decoration: none;
    }
  }
  &__img {
    width: 38%;
    height: auto;
    position: absolute;
  }
}

#image-one {
  left: 0;
  z-index: 0;
  transform: rotate(15deg);
}

#image-two {
  transform: rotate(8deg);
  left: 32%;
  z-index: 1;
}

#image-three {
  left: 68%;
  transform: rotate(-10deg);
}
