.Footer {
  padding: 10px auto;
  height: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  color: rgb(184, 220, 244);
  word-break: break-all;
  background-color: rgb(30, 97, 155);
  & a {
    color: rgb(133, 180, 211);
    text-decoration: none;
  }
}
